{{/*
  rsview: render a table with the rendered content and the source code
  */}}
{{- $language := (or (.Get "lang") "") -}}
{{- $options := (or (.Get "opts") "") -}}

{{ if (not $language) }}
  {{- $options = (print $options ",guessSyntax=true") -}}
{{ end }}
{{ if (.Get "start") }}
  {{- $options = (print $options ",linenostart=" (.Get "start")) -}}
{{ end }}
{{- $options = (trim $options ",") -}}
{{- $content := "" -}}
{{- if strings.ContainsNonSpace .Inner }}
  {{- $content = .Inner -}}
{{ else }}
  {{- $content = partial "utils/readfile.html" (
    dict "file" (.Get "file") "start" (.Get "start") "end" (.Get "end")) -}}
{{ end }}
{{/* check if the content is correct
  <div style="background-color: aqua;">
  {{ replace $content "\n" "\\n" }}
  </div>
  */}}
{{/*- $render := ($content | markdownify) -*/}}
{{- $render := ($content | $.Page.RenderString ) -}}
{{- $source := (highlight (trim $content "\n") $language $options) -}}
<div class="table">
  <table>
    <tr>
      <th>Render</th>
      <th>Source</th></tr>
    <tr>
    <td> {{- $render -}} </td>
    <td> {{- $source -}}</td>
    </tr>
    {{ if (eq (not (.Get "debug")) false) }}
      <tr><td colspan="2" style="position: relative">
        <div class="_debug_">CONTENT</div>
        {{- printf "%s" (replace $content "\n" "\\n") -}} </td></tr>
      <tr><td colspan="2" style="position: relative">
        <div class="_debug_">RENDER</div>
        {{- printf "%s" (replace $render "\n" "\\n") -}} </td></tr>
    {{ end }}
  </table>
</div>